# -----------------------------
# Node
# -----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Build output
dist/
build/

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Docker
docker-compose.override.yml

# Redis dump
dump.rdb

# MySQL data (if local folder mounted)
mysql-data/

# Optional uploads folder
uploads/

# Test output
jest-html-reporters-*.html